* {
    margin: 0;
    padding: 0;
}
main {
    margin: 1em;
}
h1{
    text-align: center;
    margin: 1em;
    font-size: 2.5em;
    position: absolute;
    color: yellowgreen;
}
.center {
    display: block;
    margin: auto;
    width: 40%;
}
h2 {
    margin: .2em;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: .3em .32em;
    text-decoration: none;
}
li a:hover {
    background-color: yellowgreen;
}